@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
 --radius-sm: calc(var(--radius) - 4px);
 --radius-md: calc(var(--radius) - 2px);
 --radius-lg: var(--radius);
 --radius-xl: calc(var(--radius) + 4px);
 --color-background: var(--background);
 --color-foreground: var(--foreground);
 --color-card: var(--card);
 --color-card-foreground: var(--card-foreground);
 --color-popover: var(--popover);
 --color-popover-foreground: var(--popover-foreground);
 --color-primary: var(--primary);
 --color-primary-foreground: var(--primary-foreground);
 --color-secondary: var(--secondary);
 --color-secondary-foreground: var(--secondary-foreground);
 --color-muted: var(--muted);
 --color-muted-foreground: var(--muted-foreground);
 --color-accent: var(--accent);
 --color-accent-foreground: var(--accent-foreground);
 --color-destructive: var(--destructive);
 --color-border: var(--border);
 --color-input: var(--input);
 --color-ring: var(--ring);
 --color-chart-1: var(--chart-1);
 --color-chart-2: var(--chart-2);
 --color-chart-3: var(--chart-3);
 --color-chart-4: var(--chart-4);
 --color-chart-5: var(--chart-5);
 --color-sidebar: var(--sidebar);
 --color-sidebar-foreground: var(--sidebar-foreground);
 --color-sidebar-primary: var(--sidebar-primary);
 --color-sidebar-primary-foreground: var(
  --sidebar-primary-foreground
 );
 --color-sidebar-accent: var(--sidebar-accent);
 --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
 --color-sidebar-border: var(--sidebar-border);
 --color-sidebar-ring: var(--sidebar-ring);

 /* fonts */
 --font-urbanist: 'Urbanist', sans-serif;
 --font-outfit: 'Outfit', sans-serif;
 --font-publicSans: 'Public Sans', sans-serif;

 /* custom colors */
 --color-main-dark: var(--main-dark);
 --color-blue100: var(--blue100);
 --color-light-background: #ebeeff;
 --color-primary50: #f0f6ff;
 --color-primary500: #005ce8;
 --color-dark-primary: #646464;
 --color-blue-main: #696cff;
 --color-error: #f6513b;
 --color-error50: #fdeded;
 --color-error500: #e84646;
 --color-success: #1ad48e;
 --color-success50: #e7f7ef;
 --color-neutral1000: oklch(0.25 0.0099 268.28);
 /* --color-secondary100: #FFCA05; */
 --color-gray50: #f5f6f7;
 --color-gray80: #383838;
 --color-gray100: #e5e7e8;
 --color-gray400: #959fa3;
 --color-gray600: #626c70;
 --color-gray700: #4a5154;
 --color-gray900: #191c1f;

 /* shadow */
 --shadow-button: '0px 1px 4px 2px rgba(50, 71, 92, 0.02), 0px 2px 6px 1px rgba(50, 71, 92, 0.04), 0px 1px 6px 2px rgba(50, 71, 92, 0.06)';
}

:root {
 --radius: 0.625rem;
 --background: #f5f6f7;
 --foreground: oklch(0.145 0 0);
 --card: oklch(1 0 0);
 --card-foreground: oklch(0.145 0 0);
 --popover: oklch(1 0 0);
 --popover-foreground: oklch(0.145 0 0);
 --primary: #2b3990;
 --primary-foreground: oklch(0.985 0 0);
 --secondary: #ffca05;
 --secondary-foreground: oklch(0.205 0 0);
 --muted: oklch(0.97 0 0);
 --muted-foreground: oklch(0.556 0 0);
 --accent: oklch(0.97 0 0);
 --accent-foreground: oklch(0.205 0 0);
 --destructive: oklch(0.577 0.245 27.325);
 --border: oklch(0.39 0.0446 249.03 / 21.96%);
 --input: oklch(0.922 0 0);
 --ring: oklch(0.708 0 0);
 --chart-1: oklch(0.646 0.222 41.116);
 --chart-2: oklch(0.6 0.118 184.704);
 --chart-3: oklch(0.398 0.07 227.392);
 --chart-4: oklch(0.828 0.189 84.429);
 --chart-5: oklch(0.769 0.188 70.08);
 --sidebar: oklch(0.985 0 0);
 --sidebar-foreground: oklch(0.145 0 0);
 --sidebar-primary: oklch(0.205 0 0);
 --sidebar-primary-foreground: oklch(0.985 0 0);
 --sidebar-accent: oklch(0.97 0 0);
 --sidebar-accent-foreground: oklch(0.205 0 0);
 --sidebar-border: oklch(0.922 0 0);
 --sidebar-ring: oklch(0.708 0 0);

 /* custom  colors*/
 --main-dark: oklch(0.31 0.0215 285.06);
 --blue100: oklch(0.48 0.2786 264.14);
 --light-primary: oklch(0.39 0.0446 249.03 / 87.06%);
}

.dark {
 --background: oklch(0.145 0 0);
 --foreground: oklch(0.985 0 0);
 --card: oklch(0.205 0 0);
 --card-foreground: oklch(0.985 0 0);
 --popover: oklch(0.205 0 0);
 --popover-foreground: oklch(0.985 0 0);
 --primary: oklch(0.922 0 0);
 --primary-foreground: oklch(0.205 0 0);
 --secondary: oklch(0.269 0 0);
 --secondary-foreground: oklch(0.985 0 0);
 --muted: oklch(0.269 0 0);
 --muted-foreground: oklch(0.708 0 0);
 --accent: oklch(0.269 0 0);
 --accent-foreground: oklch(0.985 0 0);
 --destructive: oklch(0.704 0.191 22.216);
 --border: oklch(1 0 0 / 10%);
 --input: oklch(1 0 0 / 15%);
 --ring: oklch(0.556 0 0);
 --chart-1: oklch(0.488 0.243 264.376);
 --chart-2: oklch(0.696 0.17 162.48);
 --chart-3: oklch(0.769 0.188 70.08);
 --chart-4: oklch(0.627 0.265 303.9);
 --chart-5: oklch(0.645 0.246 16.439);
 --sidebar: oklch(0.205 0 0);
 --sidebar-foreground: oklch(0.985 0 0);
 --sidebar-primary: oklch(0.488 0.243 264.376);
 --sidebar-primary-foreground: oklch(0.985 0 0);
 --sidebar-accent: oklch(0.269 0 0);
 --sidebar-accent-foreground: oklch(0.985 0 0);
 --sidebar-border: oklch(1 0 0 / 10%);
 --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
 * {
  @apply border-border outline-ring/50;
 }
 body {
  @apply bg-background text-foreground font-urbanist leading-[140%];
 }
}

@layer utilities {
 .cus_shadow {
  @apply shadow-[0px_1px_4px_2px_rgba(50,71,92,0.02),0px_2px_6px_1px_rgba(50,71,92,0.04)];
 }

 .auth_subHeader {
  @apply text-base leading-[24px] tracking-[0.15px] text-[#32475C99];
 }

 .notif_check {
  @apply data-[state=checked]:!bg-blue100 data-[state=checked]:!shadow-[0px_2px_4px_0px_rgba(105,108,255,0.4)] !size-[18px] !border-[#32475C61] data-[state=checked]:!border-blue100;
 }

 .table_col {
  @apply font-medium text-[#191C1F] text-sm leading-[20px];
 }

 .text-balance {
  text-wrap: balance;
 }

 /* Remove scrollbar */
 .remove-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  border-radius: 0px;
 }

 .remove-scrollbar::-webkit-scrollbar-track {
  background: transparent;
 }

 .remove-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 0px;
 }

 .remove-scrollbar::-webkit-scrollbar-thumb:hover {
  /* background: #1e2238; */
  background: transparent;
 }
}

/* Add these animations to your globals.css */
@keyframes fadeIn {
 from {
  opacity: 0;
  transform: scale(0.5);
 }
 to {
  opacity: 1;
  transform: scale(1);
 }
}

@keyframes pulse {
 0% {
  box-shadow: 0 0 0 0 rgba(0, 95, 255, 0.4);
 }
 70% {
  box-shadow: 0 0 0 10px rgba(0, 95, 255, 0);
 }
 100% {
  box-shadow: 0 0 0 0 rgba(0, 95, 255, 0);
 }
}

@keyframes progressLine {
 from {
  transform: scaleX(0);
 }
 to {
  transform: scaleX(1);
 }
}

@keyframes drawCircle {
 from {
  stroke-dashoffset: 100;
 }
 to {
  stroke-dashoffset: 0;
 }
}

@keyframes checkmark {
 0% {
  opacity: 0;
  transform: scale(0);
 }
 50% {
  opacity: 1;
  transform: scale(1.2);
 }
 100% {
  opacity: 1;
  transform: scale(1);
 }
}

.animate-fadeIn {
 animation: fadeIn 0.3s ease-out forwards;
}

.animate-pulse-blue {
 animation: pulse 2s infinite;
}

.animate-progress {
 animation: progressLine 0.7s ease-out forwards;
}

.animate-drawCircle {
 animation: drawCircle 0.7s ease-out forwards;
}

.animate-checkmark {
 animation: checkmark 0.5s ease-out forwards;
}

/* Animation styles */
.form-container {
 position: relative;
 /* min-height: 400px; Set a minimum height to prevent layout shifts */
}

.form-container > div {
 width: 100%;
}

/* Ensure absolute positioning works correctly */
.form-absolute {
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
}

.sidebar-shadow {
 box-shadow:
  0px 1px 4px 2px #32475c05,
  0px 2px 6px 1px #32475c0a,
  0px 1px 6px 2px #32475c0f;
}
